html {
    font-size: 82.5%; /* 62.5% de 16px = 10px */
}
:root {
    --cor-bug: #8cb230;
    --cor-dark: #58575f;
    --cor-dragon: #0f6ac0;
    --cor-electric: #eed535;
    --cor-fairy: #ed6ec7;
    --cor-fighting: #d04164;
    --cor-fire: #fd7d24;
    --cor-flying: #748fc9;
    --cor-ghost: #556aae;
    --cor-grass: #62b957;
    --cor-ground: #dd7748;
    --cor-ice: #61cec0;
    --cor-normal: #9da0aa;
    --cor-poison: #a552cc;
    --cor-psychic: #ea5d60;
    --cor-rock: #baab82;
    --cor-steel: #417d9a;
    --cor-water: #4a90da;

    --cor-bg-bug: #8bd674;
    --cor-bg-dark: #6f6e78;
    --cor-bg-dragon: #7383b9;
    --cor-bg-electric: #f2cb55;
    --cor-bg-fairy: #eba8c3;
    --cor-bg-fighting: #eb4971;
    --cor-bg-fire: #ffa756;
    --cor-bg-flying: #83a2e3;
    --cor-bg-ghost: #8571be;
    --cor-bg-grass: #8bbe8a;
    --cor-bg-ground: #f78551;
    --cor-bg-ice: #91d8df;
    --cor-bg-normal: #b5b9c4;
    --cor-bg-poison: #9f6e97;
    --cor-bg-psychic: #ff6568;
    --cor-bg-rock: #d4c294;
    --cor-bg-steel: #4c91b2;
    --cor-bg-water: #58abf6;
}
.normal {
    background-color: var(--cor-normal) !important;
    color: #fff !important;
}
.icon-normal {
    height: 20px;
    width: 20px;
    background-image: url("../img/typNormal.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.poison {
    background-color: var(--cor-poison) !important;
    color: #fff !important;
}
.icon-poison {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typPoison.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.psychic {
    background-color: var(--cor-psychic) !important;
    color: #fff !important;
}
.icon-psychic {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typPsychic.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.grass {
    background-color: var(--cor-grass) !important;
    color: #fff !important;
}
.icon-grass {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typGras.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.ground {
    background-color: var(--cor-ground) !important;
    color: #fff !important;
}
.icon-ground {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typGround.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.ice {
    background-color: var(--cor-ice) !important;
    color: #fff !important;
}
.icon-ice {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typIce.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.fire {
    background-color: var(--cor-fire) !important;
    color: #fff !important;
}
.icon-fire {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typFire.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.rock {
    background-color: var(--cor-rock) !important;
    color: #fff !important;
}
.icon-rock {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typRock.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.dragon {
    background-color: var(--cor-dragon) !important;
    color: #fff !important;
}
.icon-dragon {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typDragon.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.water {
    background-color: var(--cor-water) !important;
    color: #fff !important;
}
.icon-water {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typWater.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.bug {
    background-color: var(--cor-bug) !important;
    color: #fff !important;
}
.icon-bug {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typBug.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.dark {
    background-color: var(--cor-dark) !important;
    color: #fff !important;
}
.icon-dark {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typDark.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.fighting {
    background-color: var(--cor-fighting) !important;
    color: #fff !important;
}
.icon-fighting {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typFighting.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.ghost {
    background-color: var(--cor-ghost) !important;
    color: #fff !important;
}
.icon-ghost {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typGhost.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.steel {
    background-color: var(--cor-steel) !important;
    color: #fff !important;
}
.icon-steel {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typSteel.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.flying {
    background-color: var(--cor-flying) !important;
    color: #fff !important;
}
.icon-flying {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typFlying.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.electric {
    background-color: var(--cor-electric) !important;
    color: #fff !important;
}
.icon-electric {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typElectric.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.fairy {
    background-color: var(--cor-fairy) !important;
    color: #fff !important;
}
.icon-fairy {
    height: 20px;
    width: 20px;
    background-image: url("../src/img/typFairy.png");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.normal-color {
    color: var(--cor-bg-normal) !important;
}
.poison-color {
    color: var(--cor-bg-poison) !important;
}

.psychic-color {
    color: var(--cor-bg-psychic) !important;
}

.grass-color {
    color: var(--cor-bg-grass) !important;
}
.ground-color {
    color: var(--cor-bg-ground) !important;
}
.ice-color {
    color: var(--cor-bg-ice) !important;
}
.fire-color {
    color: var(--cor-bg-fire) !important;
}
.rock-color {
    color: var(--cor-bg-rock) !important;
}
.dragon-color {
    color: var(--cor-bg-dragon) !important;
}
.water-color {
    color: var(--cor-bg-water) !important;
}
.bug-color {
    color: var(--cor-bg-bug) !important;
}
.dark-color {
    color: var(--cor-bg-dark) !important;
}
.fighting-color {
    color: var(--cor-bg-fighting) !important;
}
.ghost-color {
    color: var(--cor-bg-ghost) !important;
}
.steel-color {
    color: var(--cor-bg-steel) !important;
}
.flying-color {
    color: var(--cor-bg-flying) !important;
}
.electric-color {
    color: var(--cor-bg-electric) !important;
}
.fairy-color {
    color: var(--cor-bg-fairy) !important;
}
.css-14pt78w-MuiSlider-rail {
    background-color: #c7c5c5 !important;
    opacity: 0.5;
}

.normal-bg {
    background-color: var(--cor-bg-normal) !important;
}
.poison-bg {
    background-color: var(--cor-bg-poison) !important;
}

.psychic-bg {
    background-color: var(--cor-bg-psychic) !important;
}

.grass-bg {
    background-color: var(--cor-bg-grass) !important;
}
.ground-bg {
    background-color: var(--cor-bg-ground) !important;
}
.ice-bg {
    background-color: var(--cor-bg-ice) !important;
}
.fire-bg {
    background-color: var(--cor-bg-fire) !important;
}
.rock-bg {
    background-color: var(--cor-bg-rock) !important;
}
.dragon-bg {
    background-color: var(--cor-bg-dragon) !important;
}
.water-bg {
    background-color: var(--cor-bg-water) !important;
}
.bug-bg {
    background-color: var(--cor-bg-bug) !important;
}
.dark-bg {
    background-color: var(--cor-bg-dark) !important;
}
.fighting-bg {
    background-color: var(--cor-bg-fighting) !important;
}
.ghost-bg {
    background-color: var(--cor-bg-ghost) !important;
}
.steel-bg {
    background-color: var(--cor-bg-steel) !important;
}
.flying-bg {
    background-color: var(--cor-bg-flying) !important;
}
.electric-bg {
    background-color: var(--cor-bg-electric) !important;
}
.fairy-bg {
    background-color: var(--cor-bg-fairy) !important;
}
.chip-clip {
    color: #fff !important;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.info-status {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.img-fund {
    background-image: url("../src/img/Pokeball.png");
    background-repeat: no-repeat;
    width: 100px !important;
    height: 100px !important;
}
.poke {
    position: relative;
}
.absolute {
    position: absolute;

    left: 269px;
    top: 0;
}
.no-margings {
    margin: 0 !important;
    display: flex !important;
    width: 60% !important;
}
.id-pokemon {
    display: flex;

    color: rgba(0, 0, 0, 0.54);

    padding: 12px;
    font-size: 1.5rem;
}
.poke-bola-back {
    background-image: url(../src/img/poke.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
}
.MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.css-eg0mwd-MuiSlider-thumb,
.css-eg0mwd-MuiSlider-thumb:before {
    display: contents !important;
}
.css-19xmp72-MuiSlider-root.Mui-disabled {
    padding: 0 !important;
}
.css-2s90m6-MuiAvatar-root {
    background-color: transparent !important;
}
.css-2s90m6-MuiAvatar-root {
    display: flex !important;
    justify-content: flex-start !important;
}
.css-tlelie-MuiListItemText-root {
    margin: 0 !important;
}

.css-10hburv-MuiTypography-root {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.css-cveggr-MuiListItemIcon-root {
    min-width: 0px !important;
}
.css-2s90m6-MuiAvatar-root {
    border-radius: 0 !important;
    color: #000 !important;
    width: 100% !important;
    height: auto !important;

    font-size: 1.25rem !important;
}
.info-status {
    padding: 0 20px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1100px) {
    .poke-bola-back {
        background-size: 220px 220px;
    }
}
@media only screen and (max-width: 800px) {
    .paddings {
        padding: 9px !important;
    }
    .no-margings {
        margin: 0 !important;
        display: flex !important;
        width: 100% !important;
    }
    .poke-bola-back {
        background-size: 220px 220px;
    }
}
@media only screen and (max-width: 600px) {
    .paddings {
        padding: 9px !important;
    }
    .no-margings {
        margin: 0 !important;
        display: flex !important;
        width: 100% !important;
    }
    .poke-bola-back {
        background-size: 300px 300px;
    }
}
